[submodule ".registry"]
	path = .registry
	url = https://github.com/opendp-dev/opendp-dev.r-universe.dev
	branch = HEAD
[submodule "opendp"]
	path = opendp
	url = https://github.com/opendp/opendp
	branch = r-universe-dev
	subdir = R/opendp
